<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">

    <title>Sign Up</title>
</head>
<body>
    
    
    <div class="form-container">

        <form action="/signup" method="POST">
            <h2>Sign Up</h2>

            <div class="form-group">
                <label for="name">Username: </label>
                <input type="text" name = "username" placeholder="Username" required><br>
            </div>  


            <div class="form-group">
                <label for="name">First Name: </label>
                <input type="text" name = "firstname" placeholder="First Name" required><br>
            </div>  

            <div class="form-group">
                <label for="name">Surname: </label>
                <input type="text" name = "surname" placeholder="Surname" required><br>
            </div>  

                <!-- <input type="email" name = "email" placeholder="Email" required> -->


            <div class="form-group">
                <label for="name">Password: </label>
                <input type="password" name = "password" placeholder="Password" required><br>
            </div>  
                <!-- <input type="password" name = "password2" placeholder="Confirm Password" required> -->


            <div class="form-group">
                <label for="name">Age: </label>
                <input type="number" name = "age" placeholder="Age" required><br>
            </div>  

              <!--   drop down menu for height and weight for measurement preference -->
        <!--         <input type="text" name = "height" placeholder="Height" required>
                    <option value = "kg">KG</option>
                    <option value = "kg">LBS</option>
                <input type="text" name = "weight" placeholder="Weight" required>
                    <option value = "ft">Ft/Inches</option>
                    <option value = "cm">CM</option>
                
             -->
                
                <input type="submit" class="submit-btn" value="Sign Up"><br>
            </form>
    </div>
    


</body>
</html>